tensorflow[and-cuda]==2.17.*
tensorflow-probability==0.24.0
tensorflow-addons@git+https://github.com/tensorflow/addons.git@master
tf_keras
mrcfile
h5py
pyyaml
bibtexparser
psutil
tkcolorpicker
tifffile
matplotlib
scipy
pandas
biopython
scikit-learn
numpy
protobuf
xmipp_metadata@git+https://github.com/DavidHerreros/xmipp_metadata.git@devel
prody
tf_siren
#cupy-cuda11x
#scikit-cuda
yellowbrick
seaborn
pathos
yapf